//Footer

.footer {
    height: 12.5em;
    width: 100%;
    background-color: $millbrook;
    clear: both;    
}

.footer-info {
    width: 15.62em;
    float: left;
    padding: 1.25em;
    margin-left: 1.68em;

    p {
    	color: #fff;
    	margin-top: 0.62em;
    }

    &:last-child {
    	margin-left: 3.06em;
    	width: 9.37em;
    }
}

.social-icons {
	margin-top: 1.25em;
}

//sub-footer

.sub-footer {
    width:  100%;
    text-align: center; 
    overflow: hidden;
    padding: 1.25em 0em 1.25em 0;
}

