// Header

.wrapper-head {
	width: 66.12em;
	margin: 0 auto;
	margin-top: 2.18em;
}

.header {
	clear: both;
	height: 30em;
	border-top: 0.62em solid $millbrook;
	background-color: $mercury;
}

.img-logo {
	float: left;
}
