// ButtonS

.btn-our {
    font: $font-btn;
    color:$millbrook;
    border-radius: 10%;
    background-color: $ebb;
    box-sizing: content-box;
    margin: 1.43em 1.43em 1.43em 0;
    padding: 0.56em 1.56em 0.56em 1.56em;
}

