//Navegation
.nav {
    background-color: $wild-sand;
    width: 39.60em;
    height: 2.90em;
    border-radius: 3.12em;
    float: right;

}


ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-left: 0.006em solid $shady-lady;

    &:first-child {
    border-left: none;
    }
}

li a {
    display: block;
    padding: 0.87em 1.87em;

     &:hover{
        color: $millbrook;
        font-style: bold;
        background-color: $mandys-pink;
    }
}
