// Slider


.slider {
    padding-top: 50px;
    background-color: $mercury;
    position: relative; 
    clear: both;

    a {
        font: $font-btn;
        color: $millbrook;
        text-decoration: none;
        padding-right: 23px;
        background: url(../img/readmore.png) no-repeat right;
    }
}

#right {
    position: absolute; 
    background: none;
    left:  70px;
    top: 194px;
}

#left {
    position: absolute; 
    background: none;
    right:  70px;
    top: 194px;
}

.info-slider  {
    width: 38%;
    height: 240px;
    margin-left: 149px;
    padding-top: 84px;
    float: left;   
}

.img-slider {
    width: 38%;
    height: 240px;
    padding-top: 84px;
    float: right;

    img {
        width: 50%;
    }
}
.ellipse {
    clear: both;
    padding: 10px;
    position: relative;
    margin: 0 auto;
}

